* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #23272a;
}

header {
    background-color: rgba(49, 97, 224, 255);
}

.container{
    width: 70%;
    margin: 0 auto;
}

nav {
    height: 80px;
    line-height: 80px;
}
nav .logo {
    width: 15%;
}

.accedi {
    width: 15%;
    float: right;
}

nav .logo, nav ul {
    float: left;
}

nav .logo img {
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    width: 70%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.accedi a {
    padding: 5px 15px;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    color: #23272a;
}

#jumbotron {
    min-height: 546px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}

#jumbotron .jumbo-text {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbo-text h1 {
    font-size: 60px;
    padding: 50px 0;
    color: white;
    text-align: center;
}

.jumbo-text p {
    font-size: 22px;
    color: white;
    text-align: center;
}

.jumbo-text a {
    padding: 15px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: #23272a;
    background-color: white;
    margin: 0 10px;
}

.bt {
    text-align: center;
    padding-top: 50px;
}

.left {
    float: left;
}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.content img {
    width: 55%;
}

.content-text {
    display: inline-block;
    width: 44%;
    padding: 0 130px;
}

.content-text h2 {
    font-size: 50px;
}

.content-text p {
    font-size: 21px;
    padding: 30px 0;
}

.wave svg {
    color: #f6f6f6;
    display: block;
}

.rotate {
    transform: rotate(180deg);
}

.bg-grey {
    background-color: #f6f6f6 ;
}

.content-text-last h2 {
    font-size: 50px;
    text-align: center;
}

.content-text-last p {
    font-size: 21px;
    padding: 30px 0;
    text-align: center;
}

.content .last {
    width: 100%;
}

.stars {
    width: 50%;
    height: 60px;
    background-image: url(../img/stars.svg);
    background-size: cover;
    margin-left: 50%;
    transform: translate(-50%)
}

.stars h4 {
    font-size: 35px;
    text-align: center;
    line-height: 120px;
}

.last-button {
    width: 205px;
    height: 50px;
    border-radius: 30px;
    background-color: #8ea1e1;
    margin: 50px auto;
}

.last-button .text{
    padding: 0 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.footer-up {
    padding-bottom: 32px;
    padding-top: 100px;
}

footer {
    background-color: #23272a;
}

.main-col {
    width: 32%;
    float: left;
}

.col {
    width: 17%;
    float: left;
}

.blue {
    color: #8ea1e1;
}

.footer-up ul li {
    list-style-type: none;
}

.footer-up ul li a {
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.footer-down {
    padding: 32px;
    border-top: 1px solid #8ea1e1;
}